.App {
  text-align: center;
}
body{
  background: rgb(165, 110, 110);
}
#main_title{
  margin-left: 30%;
  margin-right: 29%;
  font-size: 50px;
  border-bottom:2px solid black;
  color: rgb(153, 148, 148);
}
#second_title{
  margin-left: 40%;
  margin-right: 39.5%;
  font-size: 35px;
  color: rgb(153, 148, 148);
  border-bottom:2px solid black;
}
#three_title{
  margin-left: 40%;
  margin-right: 37%;
  font-size: 35px;
  color: rgb(153, 148, 148);
  border-bottom:2px solid black;
}
#four_title{
  margin-left: 40%;
  margin-right: 45.5%;
  font-size: 35px;
  color: rgb(153, 148, 148);
  border-bottom:2px solid black;
}
#input{
  margin-left: 41%;
}
#input2{
  margin-left: 42.1%;
}
#input3{
  margin-left: 38.8%;
}
#vegetable_title{
  margin-left: 45%;
}
/* #vegetable_div{
  border: 2px black solid;
  margin: 5px;
}
#cannedfood_div{
  border: 2px black solid;
  margin: 5px;
}
#spice_div{
  border: 2px black solid;
  margin: 5px;
} */
